.image-logo-landing {
    width: 40px;
    cursor: pointer;
}

.background-land {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 0, 0);
}

.text-title {
    color: white;
    font-size: 24px;
    text-align: left;
}

.topbar {
    background-color: rgb(0, 0, 0);
    padding-bottom: 10px;
}
.button-profile {
    width: 70%;
}

.cardview-body {
    padding: 5px;
    position: relative;
    border-radius: 5px;
    margin: 10px;
    width: 170px  !important;
    background-color: rgb(23, 23, 23);
}
.cardview-images {
    position: relative;
    width: 100%;
    height: 220px;
}
.cardview-rating {
    padding-bottom: 0px !important;
    margin-top: 3px;
    text-align: justify;
    color: aliceblue;
}
.cardview-tittle {
    text-align: justify;
    text-align: center;
    color: aliceblue;
}
.cardview-button {
    width: 90%;
    margin: 5px;
}
.cardview-icon {
    width: 20px;
}

.footer{
    padding-top: 25px;
    padding-bottom: 20px;
}
.footer-text{
    color: rgb(172, 172, 172);
}
.footer-icon{
    cursor: pointer;
    width: 32px;
    margin-left: 10px;
    margin-right: 10px;
}
